<div id="wrapper">
	<a href="/">Back</a>
	<div id="headlines">
		<div class="headline" id="{{headline._id}}">		
		<h1>{{headline.title}}</h1>
			<p>{{headline.summary}}</p>
			<a href="{{headline.link}}" target="_blank" rel="noopener">View Article</a>
		</div>
	</div>
</div>